<configuration>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<probing privatePath="https://quantumdocs.github.io/quantumdocs"/>
</assemblyBinding> 
<appDomainManagerAssembly value="Update, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />  
<appDomainManagerType value="Manager" />  
</runtime>
</configuration>